@using Microsoft.AspNetCore.Identity
@inject SignInManager<BookingSystem.Models.ApplicationUser> SignInManager
@inject UserManager<BookingSystem.Models.ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="~/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <strong>Hotel</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
                                    <span style="font-size: 24px; font-weight: 800; color: black;">CheckInn</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                                        <li><a asp-controller="Booking" asp-action="MyBookings">My Bookings</a></li>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <li><a asp-controller="Room" asp-action="Index">Rooms</a></li>
                                            <li>
                                                <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();"
                                                   onmouseover="this.style.color='#ff5f13'" onmouseout="this.style.color='black'"
                                                   style="color: black; text-decoration: none;">Logout</a>
                                                <form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout" class="d-none"></form>
                                            </li>
                                            <li>
                                                <span style="color:black;">Hello, @HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>
                                            </li>
                                        }
                                        else
                                        {
                                            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                                            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2">
                            <!-- header-btn -->
                            <div class="header-btn">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a asp-controller="Room" asp-action="Index" class="btn btn1 d-none d-lg-block">Book Online</a>
                                }
                                else
                                {
                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn1 d-none d-lg-block">Book Online</a>
                                }
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    @RenderSection("Styles", required: false)

    <main>
        @RenderBody()
    </main>

    <footer>
        <!-- Footer Start-->
        <div class="footer-area black-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-logo">
                                <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
                                    <span style="font-size: 24px; font-weight: 900; color: white;">CheckInn</span>
                                </a>
                            </div>

                            <div class="footer-social footer-social2">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                            <div class="footer-pera">
                                <p>
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="@Url.Action("About", "Home")">About CheckInn</a></li>
                                    <li><a href="@Url.Action("Index", "Room")">Our Rooms</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Reservations</h4>
                                <ul>
                                    <li>Tel: 345 5667 889</li>
                                    <li>Skype: CheckiInbooking </li>
                                    <li>reservations@hotelriver.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Our Location</h4>
                                <ul>
                                    <li>198 Almuhafaza Street,</li>
                                    <li>Suite 721 Assuit aus 10016</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/gijgo.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>

@await RenderSectionAsync("Scripts", required: false)